$color-primary : #0282f9;

$color-text-btn : white;

$color-text-header : #303030;

$color-text-footer-h3: white;
$color-text-footer-menu: #9c9c9c;

$color-bg-footer-banner: #303030;
$color-bg-main: #1C1C1C;